{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<script src="{% static 'js/prescription.js' %}" defer></script>
<form id="imageUploadForm" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" id="imageInput" name="image" accept="image/*" required>
    <button type="submit">Upload Image</button>
    <p id="responseMessage"></p> <!-- Message display area -->
</form>
<input type="text" id="drugName">
<button id="fetchDrug" type="button">Fetch Data</button>

<div id="drugInfoContainer">
    <h3>General Precautions</h3>
    <div id="generalPrecautions"></div>
    
    <!-- <h3>Precautions Table</h3>
    <div id="precautionsTable"></div> -->

    <h3>General Precautions Table</h3>
    <div id="generalPrecautionsTable"></div>
</div>


</div>


{% endblock content %}
